section{
    margin-top: 4%;
    display:flex;
    justify-content: center;
}
.pizzaDiv{
    background-image: url(https://images.unsplash.com/photo-1594007654729-407eedc4be65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=738&q=80);
    background-repeat: no-repeat;
    height: 50vh;
    color: white;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.pizzaBtn{
    color: white;
    padding: 10px 40px;
    margin-top: 30px;
    border: 1px solid black;
    text-decoration: none;
}
.pizzaBtn:hover{
    background:white;
    color: black;
    border: 1px solid blue;
}